{% load static %}
{% load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<head>
    <title>푸드림 로그인</title>
    <style>
        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        #logo { display: block; margin: 0px auto; }
    </style>
</head>

<body>
    <div class="container">
        <img src="{% static 'img/example.png' %}" width=50 alt="로고 자리" title="로고 자리" id=logo><br>
        <h1>소셜 로그인</h1>
        <br>
        
        <form action="login.php" autocomplete="off">
            <input type="text" name="id" placeholder="id를 입력해주세요." autofocus><br>                                                                 
            <input type="password" name="password" autocomplete="off" placeholder="password를 입력해주세요."><br>
            <input type="submit" value="로그인"> <a href="/accounts/signup">회원가입</a>
        </form>
        
        {% if user.is_authenticated %}
        <a href="/accounts/logout">로그아웃</a>
        {{user.username}}님이 로그인중
        
        {% else %}
        <a href="{% provider_login_url 'google' %}"><img src="{% static 'img/google button3.png' %}" width= 183 height= 45 alt="구글 로그인" title="구글 로그인"></a><br>
        <a href="{% provider_login_url 'naver' %}"><img src="{% static 'img/naver button.png' %}" width= 183 height= 45 alt="네이버 로그인" title="네이버 로그인"></a><br>
        <a href="{% provider_login_url 'kakao' %}"><img src="{% static 'img/kakao button.png' %}" alt="카카오 로그인" title="카카오 로그인"></a>
        
        {% endif %}
        </center>
    </div>
</body>
